.vscode
__pycache__
*DS_store

/data/font_rendered
/data/handwriting_binary
/data/handwriting_raw
/runs/autoenc
/runs/style_encoder
/outputs

https://colab.research.google.com/drive/19n8teTrZb532UsiQaXMTy4aGoEVCtaIw?usp=sharing
